{% extends 'layout.html' %}
{% block container %}
{% import "_macros.html" as macros %}

<form method="POST" class="w-xl mx-auto bg-gray-900 p-8 rounded-lg shadow-lg" novalidate>
  {{ macros.campo(form.matricula, class="block") }}
  {{ macros.campo(form.nombre, class="block") }}
  {{ macros.campo(form.apellido, class="block") }}
  {{ macros.campo(form.correo, class="block") }}
  {{ macros.campo(form.telefono, class="block") }}

  <div class="flex justify-end gap-4 mt-6">
    <button type="submit" class="inline-flex items-center gap-2 px-5 py-2.5 
           bg-gradient-to-r from-gray-500 to-gray-700 
           hover:from-gray-600 hover:to-gray-800
           text-white font-medium rounded-lg 
           shadow-md hover:shadow-lg
           transform hover:-translate-y-0.5
           transition-all duration-200
           focus:outline-none focus:ring-2 focus:ring-gray-400">
      Eliminar Alumno
    </button>

    <a href="{{ url_for('alumnos.index') }}" class="inline-flex items-center gap-2 px-5 py-2.5
            bg-red-700 hover:bg-red-600
            text-white font-medium rounded-lg
            shadow-md hover:shadow-lg
            transform hover:-translate-y-0.5
            transition-all duration-200
            focus:outline-none focus:ring-2 focus:ring-gray-400">

      Volver a listado
    </a>
  </div>
</form>
</div>
{% endblock %}