{% extends 'layout.html' %}
{% block container %}
{% import "_macros.html" as macros %}

<form method="POST" class="w-xl mx-auto bg-gray-900 p-8 rounded-lg shadow-lg" novalidate>
  {{ macros.campo(form.matricula, placeholder="Ingresa matrícula") }}
  {{ macros.campo(form.nombre, placeholder="Ingresa nombre") }}
  {{ macros.campo(form.apellido, placeholder="Ingresa apellido") }}
  {{ macros.campo(form.correo, placeholder="Ingresa correo electrónico") }}
  {{ macros.campo(form.telefono, placeholder="Ingresa teléfono") }}

  <div class="flex justify-end gap-4 mt-6">
    <button type="submit" class="inline-flex items-center gap-2 px-5 py-2.5 
           bg-gradient-to-r from-green-500 to-emerald-600 
           hover:from-green-600 hover:to-emerald-700
           text-white font-medium rounded-lg 
           shadow-md hover:shadow-lg
           transform hover:-translate-y-0.5
           transition-all duration-200
           focus:outline-none focus:ring-2 focus:ring-green-400">

      Registrar Alumno
    </button>

    <a href="{{ url_for('alumnos.index') }}" class="inline-flex items-center gap-2 px-5 py-2.5
            bg-red-700 hover:bg-red-600
            text-white font-medium rounded-lg
            shadow-md hover:shadow-lg
            transform hover:-translate-y-0.5
            transition-all duration-200
            focus:outline-none focus:ring-2 focus:ring-gray-400">

      Volver a listado
    </a>
  </div>
</form>
</div>
{% endblock %}